/* Base Green Colour:  #10AC84

/* -------------------- */
/* Basic Setup          */
/* -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #FFFFFF;
    color: #555555;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix [zoom: 1],
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------- */
/* Reusable Components  */
/* -------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}

/* -----Headings-----*/
h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 240%;
    word-spacing: 4px;
    color: #FFFFFF;
}

h2 {
    font-size: 180%;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #10AC84;
    content: " ";
    width: 25%;
    margin: 0 auto;
    margin-top: 20px;
}


/* -------------------- */
/* Header               */
/* -------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/mixedVeg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.header-content {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* -------------------- */
/* Navigation           */
/* -------------------- */

.main-nav {
    float: right;
    list-style: none;
    margin-top: 40px;
    transform: translate(0, -50%);
}

.main-nav li {
    display: inline-block;
    margin-left: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
    color: #FFFFFF;
    padding: 10px 0px;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    transition: border-bottom: 0.2s;
    font-size: 90%;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #10AC84;
}