/* -------------------- */
/* Basic Setup          */
/* -------------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: white;
    color: darkseagreen;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

.clearfix [zoom: 1],
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

/* -------------------- */
/* Reusable Components  */
/* -------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* -----Headings-----*/
h1 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 0;
    font-size: 240%;
    word-spacing: 4px;
}


/* -------------------- */
/* Header               */
/* -------------------- */

header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), url(img/mixedVeg.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-attachment: fixed;
}

.header-content {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}